.productsform{
    display: flex;
    flex-direction: column !important;
    padding: 10px;
    max-width: 50%;
    margin: 10px auto !important;
    background-color: #333;
    border-radius: 8px;
}
.productsform div{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0px auto !important;

}
.productsform div label{
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}
.productsform div input, .productsform div select, .productsform div textarea{
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100% !important;
    
}