
    body{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #aeb2b6;
}

.adminpage_Settings {
   display: flex;
   width: 100% !important;
    margin: 0px auto;
}
.adminsidebar{
    width: 20%;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    
}
.admin_container{
    width: 80%;
    padding: 20px;
}

.adminsidebar ul{
    list-style-type: none;
    padding: 0;
}
.adminsidebar ul li{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.adminsidebar ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

.count_content{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.counts{
    background-color: rgb(232, 228, 228);
    width: 200px;
    height: 100px;
    box-shadow: 10px 10px 10px -20px;
}
.counts div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 6px;
}
.counts div h6{
    font-size: 12px;
}
.counts p{
    text-align: center;
}