@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}
:root{
	--primary-color: #000004;;
	--font-family: 'Roboto', sans-serif;
}
/* nav styles */
li{
	list-style: none;
}
.mylinksdiv li a{
	text-decoration: none;
	font-family: var(--font-family);
	color: white !important;
	font-size: 16px !important;
}
.mynav{
	display: flex;
	flex-direction: column;
	gap: 10px;
		background-color: var(--primary-color);
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		padding: 3px;
		position: fixed;
		width: 100%;
		z-index: 99;
		top: 0px;
		height: 60px;
		
}
.navcontainer{
	margin-bottom: 100px;
}

.mynavul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logodiv{
	padding: 5px 10px;
}
.logodiv>.logo>a>img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.mylinksdiv{
	display: flex;
	
}
.mylinksdiv>li{
	margin: 0px 10px;
	padding: 5px 10px;
}
.mylinksdiv>li>a{
	font-size: 12px;
	font-weight:normal;
	font-family:var(--font-family);
	color: rgb(82, 78, 78);
	line-height: 12px;
	
}
.mylinksdiv>li:hover {
	border-bottom: 1px solid var(--primary-color);
	padding-bottom: 2px;
	
}
/* drop down */
.drop_category{
	position: relative;
}
.category_container{
	position: absolute;
	top: 50px;
	background-color: var(--primary-color);
	width: 100%;
	left: 0;
	opacity: 0;
	display: none;
	padding: 10px;
	
}
#drop_category:hover .category_container{
display: block !important;
opacity: 6;
}
.dropdownstyle{
	display: flex;
	justify-content: space-around;
	padding: 10px 10px;
	margin: 0px 20px;
	flex-wrap: wrap;
	width: 100%;
	
}
.category_holder{
	display: flex;
	align-items: center;
	gap:10px;
	margin-bottom: 8px;
	flex-wrap: wrap;
}
.subcategory{
	margin-top: 20px;
	
}
.category_holder>h2{
	font-size: 14px;
	cursor: pointer;
	font-weight: normal;
	line-height: 5px;
	text-transform: capitalize;
	color: white;
}
/* .category_holder::after{
	content: '|';
} */
.subcategory>li{
	margin-bottom: 8px;
}
.subcategory>li>a{
font-size: 13px;
	font-weight: normal;
	color: black;
}
.subcategory>li>a:hover{
	color: var(--primary-color);
}
/* cart count */
/* .cartcountbar{
	display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
} */
/* wishliset */
/* .wishlistcountbar{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
} */