:root {
	--primary-color: #000004;;
	--font-family: 'Roboto', sans-serif;
}
body{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.highlyviewed{
	margin-bottom: 20px;
	background-color: var(--primary-color);
	padding: 20px;
}

.productpagediv{
	max-width: 80vw;
	margin:10px auto;
	background-color: #F6F9FC;
	padding: 10px 20px;
}
.products{
	display: flex;
	justify-content: space-between;
	 margin-top: 40px;
	flex-wrap: wrap;
	background-color: white;
	padding: 10px;
}
.productcatgory_row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 40px;
}
.productcatgory_row a{
	text-decoration: none;
	background-color: var(--primary-color);
	color: white;
	padding: 8px;
}

.productcontent{
	width: 250px;
	height: 300px;
	background-color: white;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px 2px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	
}
.productimg{
	width: 200px !important;
	height: 200px;
	object-fit: contain;
	transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
	
}
.productcontent:hover .productimg{
	/* width: 100% !important; */
	transform: scale(1.7);
}
.productcontent>.pricename{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}
.pricename h2{
font-size: 16px;
	font-weight: 300;
	font-family: var(--font-family);
	text-align: center;
}
.productcontent>.pricename>h1{
	font-size: 16px;
	font-weight: 300;
	font-family: var(--font-family);
	text-align: center;
}
.productcontent a{
	width: 100%;
	background-color: var(--primary-color);
	color: white;
	text-align: center;
	text-decoration: none;
}
/* https: //bonik-react.vercel.app/market-1 */

/* wishlistdiv */
.wishlistdiv{
	position: absolute;
	margin: auto 0px;
	width: max-content;
	background-color: var(--primary-color);
	display: none;
	justify-content: space-between;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	left: 0;
}

.wishlist__holder{
display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.productcontent:hover .wishlistdiv{
	display: flex;
	opacity: 6;
}

.h1highlyviewed{
	font-size: 16px;
	font-weight: 400;
}

/* product details */
.productdetailpage{
	max-width: 80vw;
		margin: 10px auto;
		background-color: #F6F9FC;
		padding: 10px 20px;
}

.detailsitems{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.detailsimg{
	width: 350px;
	height: 400px;
}
.detailsimg>.image{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.detailsname{
	display: flex;
	flex-direction: column;
}
.detailsname>h1{
	font-size: 16px;
	font-weight: normal;
	font-family: var(--font-family);
}
.detailsname>h1,small,h2{
	margin-bottom: 10px;
}
.detailsname>a{
	background-color: var(--primary-color);
	padding: 10px ;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.linedetails{
	background-color:var(--primary-color);
		height: 3px;
}
.detailsdescription{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.detailsdescription>h1{
	font-size: 16px;
	font-weight: normal;
	font-family: var(--font-family);
}

.detailsdescription>p{
	font-family: var(--primary-color);
	font-size: 12px;
	font-weight: normal;
	text-justify:inter-word;
	line-height: 20px;
	
}

/* wishlistpage */

.mywishlistpage{
	max-width: 80vw;
	margin: 20px auto;
}
.wishlistitems{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.wishlistdata{
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	border-bottom: 1px solid var(--primary-color);
}
.wishlistdata>img{
	width: 100px;
}

.wishlistdata>h1{
	font-size: 16px;
	font-weight: normal;
	font-family: var(--font-family);
}
.wishlistdata>a {
	font-size: 18px;
	padding: 10px;
	border-radius: 100%;
}
.wishlistdata>.removewishlist:hover{
	background-color: var(--primary-color);
	color: white;
	
}

/* highlyviewed */

.highlyviewed{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.checkout_total_div{
	display: flex;
	align-items: center;
	gap:20px;
	justify-content: flex-end;
	margin-top: 20px;
}
.checkout_total_div>p{
	font-size: 16px;
	font-weight: 500;
}
.checkout_total_div>p a{
	background-color: var(--primary-color);
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 14px;
}
.updatecartform{
	/* display: flex !important; */
	align-items: center;
	gap: 10px;
	margin: 0px auto !important;
	
	padding: 0px 3px !important;
	flex-direction: row !important;
	width: 100% !important;
	flex: content !important;

}

.updatecartform input{
	width: 50px;
	padding: 5px;
	text-align: center;
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	font-size: 14px;

}

.updatecartform button{
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
}

.checkoutpage{
	flex: content;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap !important;
}
.checkout_table{
	width: 60%;
}
.shipping_addres{
	width: 40%;
	max-width: 500px;
}
.shipping_addres>form>h3{
	text-align: center;
}
.shipping_addres>form{
	width: 100% !important;
	gap: 6px;
	display: flex;
	flex-direction: column;
	width: 100% !important;
}
.shipping_addres>form input,textarea{
	width: 100% !important;
	margin: 0px auto;
	outline: none;
	resize:none;
}