:root {
	--primary-color: #EB556E;
	--font-family: 'Roboto', sans-serif;
}


.productpagediv{
	max-width: 80vw;
	margin:10px auto;
	background-color: #F6F9FC;
	padding: 10px 20px;
}
.products{
	display: flex;
	justify-content: space-between;
	 margin-top: 40px;
	flex-wrap: wrap;
}
.productcatgory_row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 40px;
}

.productcontent{
	width: 200px;
	height: 250px;
	background-color: white;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px 2px;
	position: relative;
	cursor: pointer;
	
}
.productimg{
	width: 100%;
	height: 200px;
	object-fit: contain;
}

.productcontent>.pricename{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}
.productcontent>.pricename>h1,h2{
	font-size: 16px;
	font-weight: 400;
	font-family: var(--font-family);
}
/* https: //bonik-react.vercel.app/market-1 */

/* wishlistdiv */
.wishlistdiv{
	position: absolute;
	margin: auto 0px;
	width: 100%;
	display: none;
}

.wishlist__holder{
display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
	
}
.productcontent:hover .wishlistdiv{
	display: block;
}


/* product details */
.productdetailpage{
	max-width: 80vw;
		margin: 10px auto;
		background-color: #F6F9FC;
		padding: 10px 20px;
}

.detailsitems{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.detailsimg{
	width: 350px;
	height: 400px;
}
.detailsimg>.image{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.detailsname{
	display: flex;
	flex-direction: column;
}
.detailsname>h1{
	font-size: 16px;
	font-weight: normal;
	font-family: var(--font-family);
}
.detailsname>h1,small,h2{
	margin-bottom: 10px;
}
.detailsname>a{
	background-color: var(--primary-color);
	padding: 10px ;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.linedetails{
	background-color:var(--primary-color);
		height: 3px;
}
.detailsdescription{
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.detailsdescription>h1{
	font-size: 16px;
	font-weight: normal;
	font-family: var(--font-family);
}

.detailsdescription>p{
	font-family: var(--primary-color);
	font-size: 12px;
	font-weight: normal;
	text-justify:inter-word;
	line-height: 20px;
	
}

/* wishlistpage */

.mywishlistpage{
	max-width: 80vw;
	margin: 20px auto;
}
.wishlistitems{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.wishlistdata{
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	border-bottom: 1px solid var(--primary-color);
}
.wishlistdata>img{
	width: 100px;
}

.wishlistdata>h1{
	font-size: 16px;
	font-weight: normal;
	font-family: var(--font-family);
}
.wishlistdata>a {
	font-size: 18px;
	padding: 10px;
	border-radius: 100%;
}
.wishlistdata>.removewishlist:hover{
	background-color: var(--primary-color);
	color: white;
	
}