<div class="category_container">
	<ul id="dropdown" class="dropdown showdrop dropdownstyle">
		
		
		{% for c in categorytopbar %}
			<div class="category">
				<div class="category_holder">
					<h2>{{c.name}}</h2>
					<small>({{c.categories.count}})</small>
				</div>
			
			<div class="subcategory">
			
			{% if c.categories.all %}
					
					{% for sub in c.categories.all  %}
						<li><a href="{% url 'commapp:getcategory' sub.id %}">{{sub.subname}}</a></li>
					{% endfor %}
						
			{% endif %}
				
			</div>
				</div>
		{% endfor %}
			
	</ul>

    </div>