{% load static %}
<div class="navcontainer">
	<nav class="mynav">
	<ul class="mynavul">
		<div class="logodiv">
			<li class="logo">
			<a href="/">
				<img src="{% static 'logo/mylogo.jpg' %}" alt="" class="imglogo">
			</a>
		</li>
		</div>
		<div class="mylinksdiv">
			<li>
			<a href="/">Home</a>
		</li>
		<li id="drop_category">
			<a href="#">Categories</a>
			{% include 'layout/categorydata.html' %} 
		</li>
		
		
		{% if user.is_authenticated %}
		<li><a class="cartcountbar" href="{% url 'commapp:mycart' %}" >cart <span>({{countcart}})</span></a></li>
		<li><a href="{% url 'commapp:mywishlist' %}" class="wishlistcountbar"><i class="fa fa-heart" style="font-size:18px;color:red"></i><span>({{getwishlist}})</span></a></li>
		
		{% if user.is_superuser %}
			<li>
			<a href="{% url 'adminapp:dashboard' %}">Dashboard</a>
		</li>
		
		{% endif %}
			
			<li><a href="{% url 'authapp:logoutuser' %}">Logout</a></li>

			{% else %}
			<li>
			<a href="{% url 'authapp:registeruser' %}">Sign-up</a>
		</li>
		{% endif %}
			
		
		
		</div>
	</ul>
	<!-- <div class="line"></div>
	<ul id="dropdown" class="dropdown showdrop dropdownstyle">
		
		
		{% for c in categorytopbar %}
			<div class="category">
				<div class="category_holder">
					<h2>{{c.name}}</h2>
					<small>({{c.categories.count}})</small>
				</div>
			
			<div class="subcategory">
			
			{% if c.categories.all %}
					
					{% for sub in c.categories.all  %}
						<li><a href="{% url 'commapp:getcategory' sub.id %}">{{sub.subname}}</a></li>
					{% endfor %}
						
			{% endif %}
				
			</div>
				</div>
		{% endfor %}
			
	</ul> -->
</nav>
{% include 'layout/cartdropdown.html' %}
</div>
<div class="clearboth"></div>
<!-- <style>
	/* drop down */
	.showdrop{
		display: none;
	}
	.hidenow {
		display: none;
		}
	
</style> -->