{% extends 'layout/based.html' %}

{% block title %}{{title}}{% endblock  %}


{% block content %}

<div class="mywishlistpage">
	<div class="wishlistitems">
		{% if mycart %}
		
			<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
       <th scope="col">Total Price</th>
      <th scope="col" >Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
   {% for cart in mycart %}
    <tr>
      <th scope="row">{{cart.product_id.name}}</th>
      <td><img height="100" width="100" src="{{cart.product_id.image.url}}" alt="{{cart.product_id.name}}"></td>
      <td>${{cart.product_id.price}}</td>
      <td>${{cart.tottalprice}}</td>
      <td>
     <form action="{% url 'commapp:updatecart' cart.id %}" class="updatecartform" method="POST">
					{% csrf_token %}
					<input type="number" name="qty" value="{{cart.qty}}">
					<button type="submit">Update</button>
				</form>
     </td>
       <td><a href="{% url 'commapp:deletecart' cart.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
		
		<div class="checkout_total_div">
			<p>Total Price: ${{total}}</p>	
		<p><a href="{% url 'commapp:checkout'%}">Proceed to checkout</a></p>
		<p><a href="/">Continue shopping</a></p>
		</div>
		{% else %}
<p><a href="/">Your cart is empty</a></p>
		{% endif %}
	</div>
</div>
{% endblock  %}