{% extends 'layout/based.html' %}
{% block title %}{{title}}{% endblock  %}

{% block content %}
<div class="admincategorypage">
	<form action="" method="post">
	{% csrf_token %}
	{{subform.subname}}
	{{subform.category_id}}
	<button type="submit">Save</button>
</form>
<div class="displaycategory">
	<h1 style="font-size:18px; text-decoration:underline;">SubCategories</h1>
	<div class="admincategory">
		
		{% for subcat in subcategory %}
			<div class="admincatgorydatadiv">
				<h1>{{subcat.subname}}</h1>
				<a href="" class="deletecat">x</a>
			</div>

		{% endfor %}
			
	</div>
</div>
</div>
{% endblock  %}