{% extends 'layout/based.html' %}

{% block title %}
  View products
{% endblock  %}
  
{% block content %}
<div class="adminpage_Settings">
  {% include 'adminlayout/adminsidebar.html' %}
  <div class="admin_container">
    <form action="" method="post">
	{% csrf_token %}
	{{categoryform.name}}
	<button type="submit">Save</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for c in category %}
    <tr>
      <th scope="row">{{c.name}}</th>
      <td><a href="{% url 'adminapp:update_category' c.id %}">Update</a></td>
       <td><a href="{% url 'adminapp:update_category' c.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}
