{% extends 'layout/based.html' %}

{% block title %}
{{title}}
{% endblock  %}
  
{% block content %}
<div class="adminpage_Settings">
  {% include 'adminlayout/adminsidebar.html' %}
  <div class="admin_container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Currency</th>
      <th scope="col">Price</th>
       <th scope="col">Email</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for o in oder%}
    <tr>
      <th scope="row">{{o.user.username}}</th>
      <td>{{o.currency}}</td>
      <td>${{o.total_amount}}</td>
       <td>{{o.email}}</td>
       <td><a href="">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% endblock %}
